<div class="filters">
    <app-button [text]="allTimeButtonText" [contained]="allTime" (click)="onApplyAllTime()"></app-button>
    <div class="per-year" >
        <app-button [text]="yearButtonText" [contained]="year ? true : false" mat-button [matMenuTriggerFor]="menu"></app-button>
        <mat-menu #menu="matMenu" >
            <p>Select a Year</p>
            <button mat-menu-item disableRipple *ngFor="let item of list" (click)="onApplyPerYear(item)">{{item}}</button>
        </mat-menu>
    </div>
    <img *ngIf="filter" src="/assets/reset.svg" alt="reset_filter" [ngStyle]="{cursor: 'pointer'}" (click)="onResetFilter()" />
</div>