
.mat-dialog-title {
    color: #164E78;
    font-size: 32px;
    font-weight: 300;
    display: flex;
  justify-content: space-between;
  align-items: center;
}
.mat-dialog-content {
    max-height: fit-content;
    /* height: 800px; */
    overflow: auto;
}
.line {
    width: 52px;
    height: 3px;
    border-bottom: 3px solid #00BAFF;
    margin-bottom: 16px;
}
.close {
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.animate{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    cursor: pointer;
}

.highlighted{
    display: flex;
    flex-direction: row;
}
.highlighted h2{
    color: #00BAFF;
}

.left {
    width: 30%;
    padding-right: 10px;
}
.right {
    width: 70%;
}

h5 {
    color: #718FA2;
    font-size: 8px;
    font-weight: 400;
    letter-spacing: 0.64px;
    margin: auto;
}

h2{
    font-size: 14px;
    color: #78849E;
    margin: 0 0 8px 0;
    line-height: 24px;
}

h3{
    font-size: 12px;
    color: #78849EB9;
    margin: -8px 0 ;
}